@charset "utf-8";
/* CSS Document */

.ddsmoothmenu { float: left; padding:0px; font-size:11.5px;text-transform:uppercase; -moz-transition:all 0.3s ease; -webkit-transition:all 0.3s ease; -o-transition:all 0.3s ease; transition:all 0.3s ease;  font-family: 'robotoregular'; margin:0 0px 0 0; letter-spacing:0.1px; }
.ddsmoothmenu ul { z-index:100; margin:0; padding:0px 0px; list-style-type: none; }
/*Top level list items*/
.ddsmoothmenu ul li { position: relative; float:left; padding:10px 15px 10px 14px; margin:0px; line-height: 14px;}
.ddsmoothmenu ul li:last-child{padding-right:0px;}
/*Top level menu link items style*/
.ddsmoothmenu ul li a { display: block; color:#858585; text-decoration:none;padding:0;position:relative; font-size: 16px;font-family: 'BarlowCondensed-Light';text-transform:uppercase;transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease; }
/*.ddsmoothmenu ul li a::before {content:'';position:absolute;bottom:0;background:#d0da00;width:0px;height:4px;left:50%;-moz-transition:all 0.3s ease; -webkit-transition:all 0.3s ease; -o-transition:all 0.3s ease; transition:all 0.3s ease;
}*/
.ddsmoothmenu ul li span.home-ico{ background:url(../images/home-icon.png) no-repeat center center; width:13px; height:12px; display:inline-block}
.ddsmoothmenu ul li span.home-ico:hover{ background:url(../images/home-icon.png) no-repeat center center;}

/*.ddsmoothmenu ul li a:hover::before, .ddsmoothmenu ul li a.active::before, .ddsmoothmenu ul li a.selected::before, .ddsmoothmenu ul li.dropdown:hover a::before { width:100%; left:0px; }
.ddsmoothmenu ul li a:hover::after, .ddsmoothmenu ul li a.active::after, .ddsmoothmenu ul li a.selected::after { height:5px; bottom:-5px; }*/

.ddsmoothmenu ul li a:hover, .ddsmoothmenu ul li a.selected { color:#ecbd17} 
.ddsmoothmenu ul li.dropdown:hover a{ color:#ecbd17} 


* html .ddsmoothmenu ul li a { display: inline-block; }

/*1st sub level menu*/
.ddsmoothmenu ul li ul { position: absolute; left:0; display: none; visibility: hidden; padding:0px 0 0; width:270px; left:0px !important; border:1px solid #e6eaea; }

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li { float: none; width:100%; padding:0px 0px; margin:0; border-right:0px; text-align:left; background:#fff;  }
/* .ddsmoothmenu ul li ul li:hover { background:#B05AA5; } */

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul { top: 0;}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a { display:block; padding:25px 25px; color:#000 !important; line-height:14px; font-size: 11.5px; font-family: 'robotoregular';text-transform:uppercase;letter-spacing:0.1px;  border-bottom:1px solid #e6eaea;}
.ddsmoothmenu ul li ul li a:hover { color:#ecbd17 !important;  text-decoration:none; margin: 0px 0px 0px 0px;}
.ddsmoothmenu ul li ul li a:after, .ddsmoothmenu ul li ul li a:before { display:none }

/* Holly Hack for IE \*/
* html .ddsmoothmenu { height: 1%; } /*Holly Hack for IE7 and below*/

/* ######### CSS classes applied to down and right arrow images  ######### */
.downarrowclass { position: absolute; top: 32px; right: 20px; }
.rightarrowclass { position: absolute; top: 6px; right: 5px; }

/* ######### CSS for shadow added to sub menus  ######### */
.ddshadow { /*shadow for NON CSS3 capable browsers*/ position: absolute; left: 0; top: 0; width: 0; height: 0; }
.toplevelshadow { /*shadow opacity for NON CSS3 capable browsers. Doesn't work in IE*/ opacity: 0.8; }

.ddsmoothmenu ul li ul li a span { color:#9e9e9e;}
