html, body {
	background-color: #fff;
	color: #CD0E2D;
	/*color: #636b6f;*/
	/*font-family: 'Nunito', sans-serif;*/
	font-weight: 200;
	height: 100vh;
	margin: 0;
	font-size: 12px;
}

.bmd-layout-content .content { color: #636b6f; }

a { color: #CD0E2D; }
a:hover { color: #860a1e; }

#taula a { color: #636b6f; }

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #CD0E2D;
    border-color: #CD0E2D;
}

.bmd-layout-header h5 { text-transform:uppercase; }
.bmd-layout-header {
    background-color: #CD0E2D;
    color: #fff;
}

.header h1 a { text-decoration: none; }

/* Material Design: canvi btn-primary color */
.bmd-btn-fab.btn-primary.custom-file-control:before, .btn-group-raised .btn-primary.custom-file-control:before, .btn-group-raised .btn.btn-primary, .btn-raised.btn-primary.custom-file-control:before, .btn.bmd-btn-fab.btn-primary, .btn.btn-raised.btn-primary {
	background-color: #CD0E2D !important;
    border-color: #CD0E2D !important;
}
.btn-primary.custom-file-control:before, .btn.btn-primary {
	color: #CD0E2D !important;
}
.bmd-btn-fab.btn-primary.custom-file-control:before, .btn-group-raised .btn-primary.custom-file-control:before, .btn-group-raised .btn.btn-primary, .btn-raised.btn-primary.custom-file-control:before, .btn.bmd-btn-fab.btn-primary, .btn.btn-raised.btn-primary {
	color: #fff !important;
}
.bmd-btn-fab.btn-primary.active.custom-file-control:before, .bmd-btn-fab.btn-primary.custom-file-control:active:before, .bmd-btn-fab.btn-primary.custom-file-control:focus:before, .bmd-btn-fab.btn-primary.custom-file-control:hover:before, .bmd-btn-fab.btn-primary.focus.custom-file-control:before, .btn-group-raised .btn-primary.active.custom-file-control:before, .btn-group-raised .btn-primary.custom-file-control:active:before, .btn-group-raised .btn-primary.custom-file-control:focus:before, .btn-group-raised .btn-primary.custom-file-control:hover:before, .btn-group-raised .btn-primary.focus.custom-file-control:before, .btn-group-raised .btn.btn-primary.active, .btn-group-raised .btn.btn-primary.focus, .btn-group-raised .btn.btn-primary:active, .btn-group-raised .btn.btn-primary:focus, .btn-group-raised .btn.btn-primary:hover, .btn-raised.btn-primary.active.custom-file-control:before, .btn-raised.btn-primary.custom-file-control:active:before, .btn-raised.btn-primary.custom-file-control:focus:before, .btn-raised.btn-primary.custom-file-control:hover:before, .btn-raised.btn-primary.focus.custom-file-control:before, .btn.bmd-btn-fab.btn-primary.active, .btn.bmd-btn-fab.btn-primary.focus, .btn.bmd-btn-fab.btn-primary:active, .btn.bmd-btn-fab.btn-primary:focus, .btn.bmd-btn-fab.btn-primary:hover, .btn.btn-raised.btn-primary.active, .btn.btn-raised.btn-primary.focus, .btn.btn-raised.btn-primary:active, .btn.btn-raised.btn-primary:focus, .btn.btn-raised.btn-primary:hover, .open>.bmd-btn-fab.btn-primary.dropdown-toggle.custom-file-control:before, .open>.btn-group-raised .btn-primary.dropdown-toggle.custom-file-control:before, .open>.btn-group-raised .btn.btn-primary.dropdown-toggle, .open>.btn-raised.btn-primary.dropdown-toggle.custom-file-control:before, .open>.btn.bmd-btn-fab.btn-primary.dropdown-toggle, .open>.btn.btn-raised.btn-primary.dropdown-toggle {
	background-color: #860a1e !important;
    border-color: #860a1e !important;
}
.btn-primary.active.custom-file-control:before, .btn-primary.custom-file-control:active:before, .btn-primary.custom-file-control:focus:before, .btn-primary.custom-file-control:hover:before, .btn-primary.focus.custom-file-control:before, .btn.btn-primary.active, .btn.btn-primary.focus, .btn.btn-primary:active, .btn.btn-primary:focus, .btn.btn-primary:hover, .open>.btn-primary.dropdown-toggle.custom-file-control:before, .open>.btn.btn-primary.dropdown-toggle {
	color: #CD0E2D !important;
}
.bmd-btn-fab.btn-primary.active.custom-file-control:before, .bmd-btn-fab.btn-primary.custom-file-control:active:before, .bmd-btn-fab.btn-primary.custom-file-control:focus:before, .bmd-btn-fab.btn-primary.custom-file-control:hover:before, .bmd-btn-fab.btn-primary.focus.custom-file-control:before, .btn-group-raised .btn-primary.active.custom-file-control:before, .btn-group-raised .btn-primary.custom-file-control:active:before, .btn-group-raised .btn-primary.custom-file-control:focus:before, .btn-group-raised .btn-primary.custom-file-control:hover:before, .btn-group-raised .btn-primary.focus.custom-file-control:before, .btn-group-raised .btn.btn-primary.active, .btn-group-raised .btn.btn-primary.focus, .btn-group-raised .btn.btn-primary:active, .btn-group-raised .btn.btn-primary:focus, .btn-group-raised .btn.btn-primary:hover, .btn-raised.btn-primary.active.custom-file-control:before, .btn-raised.btn-primary.custom-file-control:active:before, .btn-raised.btn-primary.custom-file-control:focus:before, .btn-raised.btn-primary.custom-file-control:hover:before, .btn-raised.btn-primary.focus.custom-file-control:before, .btn.bmd-btn-fab.btn-primary.active, .btn.bmd-btn-fab.btn-primary.focus, .btn.bmd-btn-fab.btn-primary:active, .btn.bmd-btn-fab.btn-primary:focus, .btn.bmd-btn-fab.btn-primary:hover, .btn.btn-raised.btn-primary.active, .btn.btn-raised.btn-primary.focus, .btn.btn-raised.btn-primary:active, .btn.btn-raised.btn-primary:focus, .btn.btn-raised.btn-primary:hover, .open>.bmd-btn-fab.btn-primary.dropdown-toggle.custom-file-control:before, .open>.btn-group-raised .btn-primary.dropdown-toggle.custom-file-control:before, .open>.btn-group-raised .btn.btn-primary.dropdown-toggle, .open>.btn-raised.btn-primary.dropdown-toggle.custom-file-control:before, .open>.btn.bmd-btn-fab.btn-primary.dropdown-toggle, .open>.btn.btn-raised.btn-primary.dropdown-toggle {
	color: #fff !important;
}
/* end Material Design: canvi btn-primary color */

.navbar-light .navbar-toggler {
	color: #fff;
    border-color: #fff;
}

button.navbar-toggler { padding: 1px 5px; }
button.navbar-toggler i { font-size: 18px; }
.logo:hover, .header-seccio:hover { cursor: pointer; }

.header {
	border-bottom: solid 1px #CD0E2D;
    padding: 5px 0px;
    margin-bottom: 40px;
}
.header .container {display: flex;}
img.avatar { width: 40px; height: 40px; }

#calendar { color: #636b6f; }

.selector-idiomas { margin: auto 1px; }
.selector-idiomas button { color: #fff !important; margin-bottom: 0; text-transform: capitalize; }

main.bmd-layout-content { padding-top: 20px; }

.admin-menu-icona, .admin-menu-icona i { font-size: 2.5rem; vertical-align: middle; }

i.add_circle { vertical-align: top; height: 40px; color: #666; }
i.add_circle:after { content: 'add_circle_outline'; font-size: 24px; cursor: pointer; }
i.add_circle:hover:after { content: 'add_circle'; }

.bmd-layout-drawer[aria-expanded="true"] footer { position: fixed;bottom: 0;right: 10px; }
.bmd-layout-drawer[aria-expanded="false"] footer { display: none; }

.bmd-drawer-in .bmd-layout-drawer footer { position: fixed;bottom: 0;right: 10px; }

.collapse[aria-expanded="true"] { display: block; }

header a.navbar-brand, header a.navbar-brand:focus, header a.navbar-brand:hover {
	color: inherit;
	text-decoration: inherit;
	text-transform: inherit;
	margin: inherit;
	text-align: inherit;
}

.logo {
	background-image: url('../images/logo_batalle.png');
	background-size: 78px 20px;
    background-repeat: no-repeat;
    width: 78px;
    height: 20px;
	margin-right: 5px;
	/*filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-moz-filter: grayscale(100%);*/
}
.logo-admin {
	background-image: url(../images/logo_endo.png);
    background-size: 15px 25px;
    background-repeat: no-repeat;
    width: 15px;
    height: 25px;
    margin-right: 5px;
}
.title-admin { vertical-align: middle; }
.title-admin h5 { margin: 0;text-transform: uppercase; }

.full-height {
	height: 100vh;
}

.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.position-ref {
	position: relative;
}

.top-right {
	position: absolute;
	right: 10px;
	top: 18px;
}

.content {
	/*text-align: center;*/
}

.dropdown-menu button.dropdown-item { cursor: pointer; }
.dropdown-menu .btn-danger, .dropdown-menu .btn-danger:hover { color: #F00; }

.modal-backdrop { display: none !important; }

.title {
	font-size: 84px;
}

.links > a {
	color: #636b6f;
	padding: 0 25px;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: .1rem;
	text-decoration: none;
	text-transform: uppercase;
}

.m-b-md {
	margin-bottom: 30px;
}

.row { display: block; width: 90%; }
div.table-responsive > div.dataTables_wrapper > div.row { margin: 0 auto; }

.table thead th::after { content: none !important; }
.table td { text-align: left; }
.table td.cela-opcions { padding: 0; text-align: center; }

img.avatar { width: 40px; height: 40px; }