html,
body {
    color: #636b6f;
    /*font-family: 'Nunito', sans-serif;*/
    font-weight: 200;
    height: 100vh;
    margin: 0;
    font-size: 0.9rem;
}

.header h1 a {
    text-decoration: none;
}

button.navbar-toggler {
    padding: 1px 5px;
}

button.navbar-toggler i {
    font-size: 18px;
}

.logo:hover,
.header-seccio:hover {
    cursor: pointer;
}

.header {
    padding: 5px 0px;
    margin-bottom: 40px;
}

.header .container {
    display: flex;
}

img.avatar {
    width: 40px;
    height: 40px;
}

.selector-idiomas {
    margin: auto 1px;
}

.selector-idiomas button {
    margin-bottom: 0;
    text-transform: capitalize;
}

main.bmd-layout-content {
    padding-top: 20px;
}

.admin-menu-icona,
.admin-menu-icona i {
    font-size: 2.5rem;
    vertical-align: middle;
}

i.add_circle {
    vertical-align: top;
    height: 40px;
    color: #666;
}

i.add_circle:after {
    content: 'add_circle_outline';
    font-size: 24px;
    cursor: pointer;
}

i.add_circle:hover:after {
    content: 'add_circle';
}

.bmd-layout-drawer[aria-expanded="true"] footer {
    position: fixed;
    bottom: 0;
    right: 10px;
}

.bmd-layout-drawer[aria-expanded="false"] footer {
    display: none;
}

.bmd-drawer-in .bmd-layout-drawer footer {
    position: fixed;
    bottom: 0;
    right: 10px;
}

.collapse[aria-expanded="true"] {
    display: block;
}

header a.navbar-brand,
header a.navbar-brand:focus,
header a.navbar-brand:hover {
    color: inherit;
    text-decoration: inherit;
    text-transform: inherit;
    margin: inherit;
    text-align: inherit;
}

.logo-admin {
    background-image: url(../images/logo_endo.png);
    background-size: 15px 25px;
    background-repeat: no-repeat;
    width: 15px;
    height: 25px;
    margin-right: 5px;
}

.title-admin {
    vertical-align: middle;
}

.title-admin h5 {
    margin: 0;
    text-transform: uppercase;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    /*text-align: center;*/
}

.dropdown-menu button.dropdown-item {
    cursor: pointer;
}

.dropdown-menu .btn-danger,
.dropdown-menu .btn-danger:hover {
    color: #F00;
}

.modal-backdrop {
    display: none !important;
}

.title {
    font-size: 84px;
}

.links>a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.row {
    display: block;
    width: 90%;
}

div.table-responsive>div.dataTables_wrapper>div.row {
    margin: 0 auto;
}

.table thead th::after {
    content: none !important;
}

.table td {
    text-align: left;
}

.table td.cela-opcions {
    padding: 0;
    text-align: center;
}

.btn-group-sm .btn,
.btn-group-sm .custom-file-control:before,
.btn-group-sm>.btn,
.btn-group-sm>.custom-file-control:before,
.btn-sm.custom-file-control:before,
.btn.btn-sm {
    font-size: 1rem;
}

.form-control:focus {
    box-shadow: none;
}

.popover-content .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.bmd-layout-content {
    overflow-x: auto;
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
    border: 1px solid rgba(0, 0, 0, .06);
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    z-index: 2;
    color: #fff;
    background-color: #009688;
    border-color: #009688;
}

.btn-group>.btn,
.btn-group-vertical>.btn {
    float: unset;
}

.editable-click,
a.editable-click {
    border-bottom: none;
}

.sortable:hover {
    cursor: pointer;
}

span.fc-title {
    color: #fff;
}


/* calendari */

.fc-event-container a.approved {
    background-color: #58c92f;
    border-color: #58c92f;
}

.fc-event-container a.denied {
    background-color: #ffc208;
    border-color: #ffc208;
}

.fc-event-container a.holiday {
    background-color: #c90c2a;
    border-color: #c90c2a;
}

.fc-event-container a.banned {
    background-color: #ccc;
    border-color: #ccc;
}

.fc-timeline-event .fc-time {
    display: none;
}


/* end calendari */


/* bootstrap-select */

.bootstrap-select.custom-select {
    border: none;
    background: none;
    padding-left: 0;
    width: 100%;
}

.bootstrap-select.custom-select button {
    color: #212529 !important;
    background-color: #f5f5f5;
    border-color: #f5f5f5;
}

.dropdown-menu.show .dropdown-item {
    width: 100% !important;
    max-width: none !important;
}


/* end bootstrap-select */


/* labels */

.bmd-form-group .bmd-label-static,
.bmd-form-group.is-filled .bmd-label-floating,
.bmd-form-group .is-filled .bmd-label-floating,
.bmd-form-group.is-focused .bmd-label-floating,
.bmd-form-group .is-focused .bmd-label-floating {
    top: 0.75rem;
    left: 0;
    font-size: 0.9rem;
    color: #999;
}

.avatar-icon {
    vertical-align: middle;
    width: 40px;
    border-radius: 50%;
    height: 40px;
    object-fit: scale-down;
}

.card .form-group {
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
}

.card .form-group:last-child {
    margin-bottom: 60px;
}

.card .form-group .bmd-label-floating {
    position: relative;
}

.fons-vermell { background: rgba(255, 0, 0, 0.2); }