@charset "utf-8";
/* CSS Document */

input[type="submit"], input[type="button"], input[type="text"], input[type="password"], input[type="email"], textarea { -webkit-border-radius:0; -webkit-appearance: none; }
a[href^=tel] {
text-decoration:inherit;
color: inherit; 
}

/* #Media Queries
================================================== */
@media only screen and (min-width:1920px) { 
body{ overflow-x:hidden;}
}


@media only screen and (max-width: 1280px) {
body{ overflow-x:hidden;}	
.row { width:95%;}
.row1{ width:95%;}

.cal-lft p.pend-txt { width:70%; }
}

@media screen and (min-width:1024px) and (max-width:1279px) {
img {max-width:100%; }
.row { width:95%; }
.row1{ width:95%;}

.beguit-row { padding:0 8%;}
.cal-rht.contact-r .form-pad ul li { width:75%; }

.cal-lft p { width:62%; float:left;} 
.dies { margin-bottom:40px;}
.cal-rht { width: 64%;}
table.fc-border-separate { padding-right: 16px; }

.contact-frm.form-register .left{padding-right:20px}
.contact-frm.form-register .left .img {width: 25%;padding-right: 20px;}
.single-page .contact-frm.form-register li input.frmCrtl, .single-page .contact-frm.form-register li .select-data.full-width, .single-page .contact-frm.form-register li .full-width {width: 70%;}
.single-page .contact-frm.form-register li label {width: 30%;}
.single-page .contact-frm.form-register li.password label {width: 37%;}
.single-page .contact-frm.form-register li.password input.frmCrtl {width: 60%;}
.contact-frm.form-register .right{padding-right:20px;}


.fc-.fc-widget-content.fc-year-have-event.fc-event-pink::after, .fc-.fc-widget-content.fc-year-have-event.fc-event-red::after, .fc-.fc-widget-content.fc-event-yellow::after, .fc-.fc-widget-content.fc-event-green::after, .fc-.fc-widget-content.fc-event-blue::after { width: 16px; height: 16px; top: 4px;}

.nav-tabs1 > li > a { padding:8px 5px 8px 5px;}
.nav-tabs1 > li > a, .nav-tabs1 > li p { font-size:13px;}
.nav-tabs1 > li a span { width: 19px; height: 19px; line-height: 19px; margin:2px 0 0 0;}
.cal-lft { width:34%;}

.nav-tabs1 .tooltip span.tooltiptext { margin-left: -29px; }
.nav-tabs1 > li.tab-red .tooltip span.tooltiptext { margin-left: -2px; top:-50px; }
.nav-tabs1 > li .tooltip span.tooltiptext { display:none;}

.tab-content.tab-content-blue ul li { width:70%;}
.tab-content.tab-content-pink ul li { width:70%;}
.tab-content.tab-content-red ul li { width:70%;}

body.overlay { overflow:auto;}
#pop-info, #pop-info-message { width:90%; height:400px;}
#pop-info ul.second-level, #pop-info-message ul.second-level { padding-left: 20px;}
#pop-info ul.third-level, #pop-info-message ul.third-level { padding-left: 40px; }
.simplePopup { overflow:auto;}
.alert-pop { margin-bottom:40px;}

.cal-lft p.pend-txt { width: 62%;}

}

/* Smaller than standard 1024 (devices and browsers) */
@media screen and (min-width:768px) and (max-width:1023px) {
img {max-width:100%; }
.row { width:95%; }
.row1{ width:95%;}
.beguit-row{ padding:0 0%;}
.menu { padding: 18px 15px;}
.user-section { padding:10px 0;}
.relative-pad { padding-left: 60px; }

.benvigut ul li{ width:24.5%; margin-bottom: 22px; padding: 30px 0px; }
.benvigut ul li h3{ margin:0;}
.benvigut p{margin: 30px 0 50px 0;}
.benvigut ul li:last-child{border-right: 0;}
.cal-rht.contact-r .form-pad ul li { width:100%; }
.cal-lft.contact-l h2 { font-size: 25px; line-height: 26px; }

.cal-cnt.pad-left .cal-lft p { width:100%; float:left;}
.cal-cnt.pad-left .cal-lft a { float:left; width: 100%;}
.cal-cnt.pad-left .cal-lft { width: 40%; }
.cal-cnt.pad-left .cal-lft .nav-tabs1 > li > a p { float:none; width:auto; font-size:14px; }
.cal-cnt.pad-left .cal-lft .nav-tabs1 > li > a { font-size:14px; } 
.cal-rht { width: 56%; }
ul.buttons { float:right; position:relative; top:auto; right:auto; margin-bottom:25px;}

/*.nav-tabs1 > li.tab-red div { display:none;}*/

*.nav-tabs1 > li.tab-red .tooltip > div { display:none;}
.user-porfile {display:none;}
.contact-frm.form-register{padding:0 25px;}
.contact-frm form-register .row1{width:100%}
.contact-frm.form-register .left, .contact-frm.form-register .right{width:100%; float:left; padding:0}
.contact-frm.form-register .left .img{float:left; width:100%; margin:0 0 25px; padding:0;}
.contact-frm.form-register .left .img img{width:75px; float:left}
.contact-frm.form-register .left .img a{float:left; width:100%; text-align:left; padding:10px 0 0;}
.contact-frm.form-register .frm{width:100%;}
.single-page .contact-frm.form-register li label, .single-page .contact-frm.form-register li.password label{width:140px;}
.single-page .contact-frm.form-register li input.frmCrtl, .single-page .contact-frm.form-register li .select-data.full-width, .single-page .contact-frm.form-register li .full-width{width:calc(100% - 150px); float:right;}
.single-page .contact-frm.form-register li.password input.frmCrtl{width:calc(100% - 170px);}
.contact-frm.form-register .left button{margin-bottom:0;}
.contact-frm.form-register .right{margin-top:30px; padding-top:30px; border-top:1px solid #ebebeb;}

.nav-tabs1 .tooltip span.tooltiptext { margin-left:-53px; }
.nav-tabs1 > li.tab-red .tooltip span.tooltiptext {  margin-left:-33px; }
.nav-tabs1 > li .tooltip span.tooltiptext { display:none;}

.tab-content.tab-content-blue ul li { width:70%;}
.tab-content.tab-content-pink ul li { width:70%;}
.tab-content.tab-content-red ul li { width:70%;}

body.overlay { overflow:auto;}
#pop-info, #pop-info-message { width:90%; height:400px;}
#pop-info ul.second-level, #pop-info-message ul.second-level { padding-left: 20px;}
#pop-info ul.third-level, #pop-info-message ul.third-level { padding-left: 40px; }
.simplePopup { overflow:auto;}
.alert-pop { margin-bottom:40px;}

}

/* Smaller than standard 768 (devices and browsers) */
@media screen and (max-width:767px) {
body{ height:auto !important;}
img {max-width:100%; }
.row { width:95%; }
.row1{ width:95%;}

.beguit-row{ padding:0;}
.benvigut ul li{ width:32%; margin-bottom: 22px; padding: 30px 10px; float:left; }
.benvigut ul li:nth-child(4n+4) {border-right: 2px solid #fae5ea;}
.benvigut ul li:nth-child(3n+3) {border-right: 0;}
.benvigut ul li h3{ margin:0;}
.benvigut p{margin: 30px 0 50px 0;}
.benvigut ul li:last-child{border-right: 0;}

.relative-pad { padding-left:0px; }
.pad-left { padding-left:0px;}
.menu { padding:17px 18px; height:auto; z-index:99;}
.title-head { display:block;}
.cal-ico { background-image:none;}
.title-head h1 { padding-left:70px; font-size: 17px;}
.title-head.no-lftpad h1 {padding-left: 70px;}	
.user-section { padding:7px 0; /*position: fixed;*/ z-index: 99;}

footer .main-footer ul.main li { margin-right:20px; width: 44%; }
footer .main-footer ul.main li.dept.mar-20 { margin-top: 6px; width:40%;}
footer .main-footer ul.main li.dept.rht { margin:12px 0 0 0; width:auto;}
footer .main-footer ul.main li.dept { margin-top:0;}


.button-dropdown { position: fixed; width:80%; top:33px; overflow:auto;  transform: translate3d(-125%, 0%, 0px);-ms-transform: translate3d(-125%, 0%, 0px); -webkit-transform: translate3d(-125%, 0%, 0px);-moz-transform: translate3d(-125%, 0%, 0px); -o-transform: translate3d(-125%, 0%, 0px); 	transform: translate3d(-125%, 0%, 0px);	transition: transform 0.5s ease-out 0s;    -webkit-transition: transform 0.5s ease-out 0s;	-moz-transition: transform 0.5s ease-out 0s;}
/*.active-drop .button-dropdown {top: 33px;}*/
.active-drop .button-dropdown {top: 0px;}
.button-dropdown { top:0;}
header { z-index:1;}
.menu-list { float: left; width: 100%; padding: 0 0 50px 0;}
body.active-drop { overflow: hidden; }
.button-dropdown .button-dropdown-int { padding:34px 0 0 0;}

.nav-toggle { float:right;}
.nav-toggle a p { display:none;}
.w-menu-p { padding:0 20px;}
.user-popup { right:0;}

.cal-lft.contact-l { width:100%; margin:0; padding:20px 30px; box-shadow:0 0 1px rgba(0,0,0,0.7); }
.cal-lft.contact-l p { width:100%; }
.cal-rht.contact-r { width:100%; margin:20px 0 0 0; border:none; padding:0 20px; }
.cal-lft.contact-l h2 { display:none;}
.cal-cnt.pad-left.cate { margin:0px 0 0;}
.cal-cnt.pad-left.cate .row1 { width:100%;}
.message ul li .msg-l { width: 7%; margin-right:2%; }
.message ul li .msg-r { width: 86%; float:left; }

.cal-rht.contact-r .form-pad ul li { width:100%;}
.cal-rht.contact-r .form-pad ul li.selecc { display:none;}
.cal-rht.contact-r .form-pad ul li.last-btn { display:none;}
.form-pad ul li textarea { height:50px; line-height: 26px;}
.cal-rht.contact-r .form-pad .button-mob { display:block;}

/*.button-dropdown { position:absolute; top:33px !important; transform: translate3d(-125%, 0%, 0px);-ms-transform: translate3d(-125%, 0%, 0px); -webkit-transform: translate3d(-125%, 0%, 0px);-moz-transform: translate3d(-125%, 0%, 0px); -o-transform: translate3d(-125%, 0%, 0px); 	transform: translate3d(-125%, 0%, 0px);	transition: transform 0.5s ease-out 0s;    -webkit-transition: transform 0.5s ease-out 0s;	-moz-transition: transform 0.5s ease-out 0s;}*/


.cal-rht  { width:100%}
.cal-lft { width:100%; margin:0px 0 0 0;}
.cal-cnt.pad-left { margin-top:20px;}
ul.buttons { display:none;}
.cal-lft p { float:none; width:auto; display:inline; font-size:15px; }
.cal-lft a { display:inline-block; font-size:15px;  }
/*.cal-lft.tab_out_calender p { width:100%; display:block;}*/
.alert-div { font-size:16px; }
.dies { margin-bottom:30px;}

.mobile-list { display:block;}
#desktop-cal { display:none}
.mob-cal-btns { display:block;}


.tab-content.active { border:none; padding: 6px; }
.cal-dpdwn { right:0; position: relative; float:right; top:auto;}
.fc-header-left { width:68%; }

.fc-button.fc-button-prev { position: absolute; top: 6px; right: 198px; border: 1px solid #7f7f7f; padding: 0px 6px; border-radius: 3px;margin-bottom: 0; background:#fff;}
.fc-button-prev .fc-button-inner .fc-button-content { background: url(../images/mob-arrow.png) no-repeat left;}


.fc-button.fc-button-next { position: absolute; top: 6px; right:162px; border: 1px solid #7f7f7f; padding: 0px 6px; border-radius: 3px;margin-bottom: 0;  background:#fff;}
.fc-button-next .fc-button-inner .fc-button-content { background: url(../images/mob-arrow-next.png) no-repeat left;}
.fc-header-title { position: absolute; top: 4px; left: 50px;}
#calendar { margin:10px 0 0 0;}

.fc-header-title h2 { font-size:17px;}
.cal-rht button { padding:7px 26px 7px 10px;}
.cal-rht button::after, .title-box h2::after { top:15px; }
.title-box h2  { padding:7px 26px 7px 10px;}

.fc-grid .fc-day-content { display:none;}
.fc-view.fc-view-month.fc-grid .fc-border-separate th, .fc-view.fc-view-month.fc-grid .fc-border-separate td { border-width: 0px;}
.fc-view.fc-view-month.fc-grid .fc-border-separate tr.fc-week5.fc-last td { border-bottom-width:0px;}
.fc-view.fc-view-month.fc-grid .fc-border-separate th.fc-last, .fc-view.fc-view-month.fc-grid .fc-border-separate td.fc-last { border-right-width: 0px;}


.fc-agenda-days.fc-border-separate { padding-bottom:0;}
.fc-view.fc-view-month.fc-grid .fc-border-separate .fc-day-number { font-size:15px; } 
.fc-view.fc-view-month.fc-grid .fc-border-separate tr td { padding:5px 1px;}

.fc-event-time, .fc-event-title { display:none;}
.message { margin:20px 0 0 0;}



.area-container{padding:25px; overflow:auto; position:absolute; min-height:640px;}
.area-container:after{position:fixed;}
.area-content h2{font-size: 16px; padding: 10px 10px;}	

.terms{width:100%; padding:0 20px;}
.single-page p.quote{margin:20px 0; font-size:18px;}
.terms p{margin:0 0 15px;}

.area2 p.quote{font-size:16px; line-height:20px; margin:15px auto !important;}
.area2 button {margin: 15px auto 0;}

.user-porfile {display:none;}
.contact-frm.form-register{padding:50PX 25px 0;}
.contact-frm form-register .row1{width:100%}
.contact-frm.form-register .left, .contact-frm.form-register .right{width:100%; float:left; padding:0}
.contact-frm.form-register .left .img{float:left; width:100%; margin:0 0 25px; padding:0;}
.contact-frm.form-register .left .img img{width:75px; float:left}
.contact-frm.form-register .left .img a{float:left; width:100%; text-align:left; padding:10px 0 0;}
.contact-frm.form-register .frm{width:100%;}
.single-page .contact-frm.form-register li label, .single-page .contact-frm.form-register li.password label{width:140px;}
.single-page .contact-frm.form-register li input.frmCrtl, .single-page .contact-frm.form-register li .select-data.full-width, .single-page .contact-frm.form-register li .full-width {width:calc(100% - 150px); float:right;}
.single-page .contact-frm.form-register li.password input.frmCrtl {width:calc(100% - 170px);}
.contact-frm.form-register .left button{margin-bottom:0;}
.contact-frm.form-register .right{margin-top:30px; padding-top:30px; border-top:1px solid #ebebeb;}
.terms  p.quote span{display: inline;}

.nav-tabs1 .tooltip span.tooltiptext { margin-left: 21px;}
.nav-tabs1 > li.tab-red .tooltip span.tooltiptext {  margin-left:93px; }

.nav-tabs1 > li.tab-red .tooltip span.tooltiptext { display:none;}
.nav-tabs1 > li .tooltip span.tooltiptext { display:none;}

.tab-content.tab-content-blue ul li { width:70%;}
.tab-content.tab-content-pink ul li { width:70%;}
.tab-content.tab-content-red ul li { width:70%;}
#pop-info, #pop-info-message { width:90%;}
.simplePopup { padding:60px 25px 40px}
.mbl_pop_inner h2 { font-size:17px;}
.mbl_pop_inner h2 br { display:none; }

#pop-info, #pop-info-message { width:90%; height:400px;}
body.overlay { overflow:auto;}
#pop-info ul.second-level, #pop-info-message ul.second-level { padding-left: 20px;}
#pop-info ul.third-level, #pop-info-message ul.third-level { padding-left: 40px; }
.simplePopup { overflow:auto;}
.alert-pop { margin-bottom:40px;}

.cal-lft p.pend-txt { width:100%; display:block;}

#trigger-dropdown {width:60px; height: 32px; } 
#dropdown-title { text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.title-box { width:85px;  height: 32px; }
.title-box h2 {text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.dropdown-hotel > ul { top:33px;}

}


/* Mobile Landscape Size (devices and browsers) */
@media screen and (max-width:639px) {
.row { width:95%; }
.row1{ width:95%;}

.benvigut p span {display: inline;}
.benvigut ul li { min-height: 152px; padding: 15px 10px;}
.benvigut p { font-size: 17px; line-height: 24px; }

.message ul li .msg-l { width: 10%; }
.message ul li .msg-r { width: 85%; }

.area-content form{padding:15px;}
.area-content{margin:25px auto;}

.terms{width:100%; padding:0 20px;}

.single-page .form-register{max-width:100%; padding-left:25px; padding-right:25px;}
.contact-frm form-register .row1{width:100%}
.contact-frm.form-register{	padding:0px 25px 0;}
.single-page .form-register li input.frmCrtl, .single-page .form-register li .select-data.full-width, .single-page .form-register li .full-width { width:calc(100% - 130px); float:right;}
.single-page .form-register li.password input.frmCrtl{width:calc(100% - 135px); }


.nav-tabs1 .tooltip span.tooltiptext { margin-left: -23px;}
.nav-tabs1 > li.tab-red .tooltip span.tooltiptext {  margin-left:5px; }
#trigger-dropdown {width:60px;} 
#dropdown-title { text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.title-box { width:85px;}
.title-box h2 {text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
}

@media screen and (max-width:479px) {
.benvigut ul li{ width:49%; margin-bottom: 22px; padding: 0 10px;}
.benvigut ul li:nth-child(4n+4) {border-right: 2px solid #fae5ea;}
.benvigut ul li:nth-child(3n+3) {border-right: 2px solid #fae5ea;}
.benvigut ul li:nth-child(2n+2) {border-right: 0;}
.benvigut ul li h3{ margin:0;}
.benvigut ul li:last-child{border-right: 0;}
.benvigut ul li { min-height: 125px;}


footer .main-footer ul.main li.dept.rht { float:left;}
footer .main-footer ul.main li { width:70%; margin-right:0;}
footer .main-footer ul.main li.contact { margin-right:20px;}
footer .main-footer ul.main li.contact { padding-bottom:20px;}

.message ul li .msg-l { width: auto;   margin-right:4%;}
.message ul li .msg-r { width: 74%; }
.cal-rht.contact-r .form-pad .button-mob ul li .mob-btn { padding:8px 10px;}
.alert-div { font-size:15px; line-height: 16px; }
.alert-div img { top:0; }


.nav-tabs1 > li a span { width:20px; height:20px; line-height: 20px;}
.nav-tabs1 > li > a { padding:6px 5px; font-size:14px; letter-spacing: -0.8px;}
.nav-tabs1 > li p { font-size:14px; }
.nav-tabs1 > li { margin-right:1.5%; width:32.33%; }
.nav-tabs1 > li.active, .nav-tabs1 > li.active a p { font-weight:600;}
.alert-div { margin:30px 0 0 0;}

.fc-header-title { left:42px; }
.title-box h2, .cal-rht button{ padding: 7px 18px 7px 6px;}
.cal-rht button::after, .title-box h2::after { right: 5px;}
.fc-button.fc-button-next { right: 168px; }
.fc-button.fc-button-prev { right: 205px;}
.fc-header-title h2 { font-size:21px;}

table.fc-border-separate { padding-right: 13px;}
.fc-.fc-widget-content.fc-year-have-event.fc-event-pink::after { width: 18px; height: 18px; top: 3px;}
.fc-.fc-widget-content.fc-year-have-event.fc-event-red::after  { width: 18px; height: 18px; top: 3px;}
.fc-.fc-widget-content.fc-event-yellow::after, .fc-.fc-widget-content.fc-event-green::after { width: 18px; height: 18px; top: 3px;}
.fc-header-title { position:relative; left:0; margin-bottom:10px;}

.area-container{ min-height:480px;}
.area-content{width:95%;}

.contact-frm form-register .row1{width:100%}
.single-page .form-register li label, .single-page .form-register li.password label{width:100%; margin:0 0 5px}
.single-page .form-register li input.frmCrtl, .single-page .form-register li .select-data.full-width, .single-page .form-register li .full-width, .single-page .form-register li.password input.frmCrtl{width:100%;}
/*.single-page .form-register li.password span{top:35px;}*/
.single-page .form-register li.password.password-perfil span{top:35px;}

.single-page .contact-frm.form-register li label, .single-page .contact-frm.form-register li.password label{width:100%; margin:0 0 5px}
.single-page .contact-frm.form-register li input.frmCrtl, .single-page .contact-frm.form-register li .select-data.full-width, .single-page .contact-frm.form-register li .full-width, .single-page .contact-frm.form-register li.password input.frmCrtl{width:100%;}
/*.single-page .form-register li.password span{top:35px;}*/
.single-page .form-register li.password span.bmd-form-group { width: 49%; }

.contact-frm.form-register .right{padding-top:18px;}

.single-page .form-register p.quote br{display:none;}

#trigger-dropdown {width:62px;} 
#dropdown-title { text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.title-box { width:90px;}
.title-box h2 {text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
}

 }

