/*body.active-drop { overflow: hidden; }*/

.button-dropdown {
    background: #f9eaed;
    color: #000;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0px;
	-ms-transform: translate3d(0px, -125%, 0px);
    -webkit-transform: translate3d(0px, -125%, 0px);
	-moz-transform: translate3d(0px, -125%, 0px);
	-o-transform: translate3d(0px, -125%, 0px);
	transform: translate3d(0px, -125%, 0px);
    -webkit-transition: transform 0.8s ease-out 0s;
	-moz-transition: transform 0.8s ease-out 0s;
	transition: transform 0.8s ease-out 0s;
    width: 250px;
    z-index:99999; padding:25px 0px;
}
.active-drop .button-dropdown{ top: 0;}
.menu-bdr { float:left; width:100%; text-align:center;}
body.active-drop .button-dropdown {
	-ms-transform:  translate3d(0px, 0px, 0px);
    -webkit-transform:  translate3d(0px, 0px, 0px);
	-moz-transform:  translate3d(0px, 0px, 0px);
	-o-transform:  translate3d(0px, 0px, 0px);
	transform:  translate3d(0px, 0px, 0px);
}
.button-dropdown .button-dropdown-int::before, .button-dropdown .button-dropdown-int::after { box-sizing: border-box; }
.button-dropdown .button-dropdown-int { height:100%; overflow-y: auto; position: relative; width: 100%; padding:80px 0 0 0; }
/*.button-dropdown .button-dropdown-int .row { padding:25px 0 50px 0; width:95%;  }*/
/*.w-menu-p{position:absolute; top:40px;}*/
.nav-toggle { cursor:pointer; background:background:rgba(118,197,246,0.97); display:block; padding:0; margin:0; float:left;  }
.nav-toggle:hover {background:background:rgba(118,197,246,0.97); }
.nav-toggle .icon-bar { display:block; width: 20px; height: 3px; background-color:#000;
opacity:1;
-webkit-transition:background-color .25s ease-out, -webkit-transform .25s, opacity 1s;
transition:background-color .25s ease-out, transform .25s, opacity 1s
}
.nav-toggle .icon-bar+.icon-bar { margin-top:7px }
.nav-toggle .icon-bar:last-child, .nav-toggle .icon-bar:nth-child(2) {
opacity:1;
-webkit-transform:rotate(0);
-ms-transform:rotate(0);
transform:rotate(0)
}
.nav-toggle.open .icon-bar {
background-color:#000;
opacity:0;
-webkit-transition:background-color .25s ease-out, -webkit-transform .25s, opacity .25s;
transition:background-color .25s ease-out, transform .25s, opacity .25s
}
.nav-toggle.open .icon-bar:nth-child(2) {
opacity:1;
-webkit-transform:rotate(45deg);
-ms-transform:rotate(45deg);
transform:rotate(45deg);
-webkit-transform-origin:50% 1px 0;
-ms-transform-origin:50% 1px 0;
transform-origin:35% 4px 0;
}
.nav-toggle.open .icon-bar:last-child {
opacity:1;
-webkit-transform:rotate(-45deg);
-ms-transform:rotate(-45deg);
transform:rotate(-45deg);
-webkit-transform-origin:12% -3px 0;
-ms-transform-origin:12% -3px 0;
transform-origin:12% -3px 0;
}
.menu-top, .social { float:left; width:100%; margin-left:-5%; }
.menu-header { position:fixed; background:#f9eaed; border-bottom: none; padding:0; width:100%; z-index:9999; }
.menu-header .navbar-brand { padding-top:7px; }
.menu-header .navbar-brand img { display:block!important; float:none; margin:0;  }
.button-dropdown .menu-bottom ul { float:left; box-sizing: border-box; position:relative; width:100%; padding:25px 10px; margin-top:0px;}
.menu-bottom { float:left; width:110% !important; margin-top: 35px !important; padding:0px 0px !important; }
.menu-bottom h2{ color:#fff; font-size:16px; box-sizing: border-box; position:relative; width:100%; padding:0 10px 15px;}
.button-dropdown .menu-bottom ul li{ float:left; margin-right:3%; padding-right:3%; position:relative; width:auto !important; border-right:1px solid #cdcdcd;}
.button-dropdown .menu-bottom ul li a { margin-bottom:0px;}
.menu-bottom ul li:hover{opacity:0.8}
.button-dropdown .menu-bottom ul li:last-child{ margin-right:0px; border-right:0px;}
.button-dropdown .menu-bottom ul li a::after { background:none!important; }



.button-dropdown ul { float:left; width:100%; position:relative; background:none; /*-webkit-transition: height 0.5s ease-out 0s; -moz-transition: height 0.5s ease-out 0s;  transition: height 0.5s ease-out 0s;*/ }
.button-dropdown ul li { float:left; width:100%; margin-bottom:3px; }
/*.button-dropdown ul li a::after {
background:url(../images/title-head.png) no-repeat 0 0;
content: "";
height:12px;
position: absolute;
bottom:0px;
width: 29px;
left:0px;
display:block;
}*/
.button-dropdown ul li a { display: block; position:relative; float: left; font-size: 15px; font-weight:600; line-height: 20px; text-transform:none;  padding:12px 12px 12px 30px; width:100%; }
.button-dropdown ul li a.dropdown-toggle {pointer-events:none;}
.button-dropdown ul li:hover a, .button-dropdown ul li a.active-menu { background-color:rgba(255,255,255,0); }
.button-dropdown ul .submenu {  background:#000000;
position:absolute; left:285px; top:0px; width:260px; z-index:99; visibility:hidden; opacity:0;
-webkit-transform: translateX(-50px);
-moz-transform: translateX(-50px);
-o-transform: translateX(-50px);
-ms-transform: translateX(-50px);
transform: translateX(-50px);
transition:all 0.5s ease-out 0s;
}
.button-dropdown ul .submenu.dropdown { display:block; z-index:100; visibility:visible;
opacity: 1;
-webkit-transform: translateY(0px);
-moz-transform: translateY(0px);
-o-transform: translateY(0px);
-ms-transform: translateY(0px);
transform: translateY(0px); 
}
.button-dropdown ul li:hover li a, .button-dropdown ul li:hover .submenu a.btn-back { background-color:rgba(255,255,255,0); }
.button-dropdown ul .submenu a.btn-back::after { background-position: -36px center;
background-repeat: no-repeat;
content: "";
height: 12px;
left:3px;
position: absolute;
top: 12px;
} 
.button-dropdown ul .submenu a.btn-back { font-size: 14px; color:#888888; width:100%; padding:3px 10px 3px 27px; margin:0px; }  
.button-dropdown ul .submenu a.btn-back:hover { background-color:rgba(255,255,255,0); color:#FFFFFF; }
.button-dropdown h1 { font-size:18px; color:#ffffff; line-height: 28px; text-transform: uppercase; padding:0 3px 5px; border-bottom: 1px solid #333333; margin-bottom:15px; }
.button-dropdown ul ul { width:100%; }





@media screen and (max-width:767px) {
.menu-top{min-height: 360px;}
.button-dropdown ul .submenu { left:0px; }
.menu-top, .menu-bottom, .social{ margin-left:0px;}
.button-dropdown .social{margin-top: 35px !important}
.button-dropdown .menu-bottom ul li{ float:none; display:inline-block;}
}

@media screen and (max-width:639px) {
.button-dropdown ul .submenu { left:0px; }
.menu-top, .menu-bottom, .social{ margin-left:0px;}



}

.menu-bdr p{ float: left;font-family: "Source Sans Pro",sans-serif;font-size: 24px;font-weight: 700;line-height: 20px; margin-top:3px;}
   
/* new css on 6-8-2018 */
.nav-toggle-red .nav-toggle.open .icon-bar {background-color:#ce0e2d;}
.nav-toggle-red .menu-bdr p{ color:#ce0e2d;}
.nav-toggle-red .bur-pad .bur-pad-lft { background:#fbe6eb;}
.button-dropdown.nav-toggle-red .menu-list ul li a{ color:#000;}
.button-dropdown.nav-toggle-red .menu-list ul li a:hover {color: #000;}
.button-dropdown.nav-toggle-bule .menu-list ul li a:hover {color: #000;}



/*selvaraj*/
.mm-menu.mm-menu-bule .mm-list > li > a:hover, .mm-menu.mm-menu-bule .mm-list > li > a.active {background: #0032a1;color: #fff;}
.mm-menu.mm-menu-bule .mm-list > li > a {padding: 10px 15px 10px 25px;}
.mm-menu.mm-menu-bule .mm-list {padding: 70px 0 0;}
.button-dropdown.nav-toggle-bule .menu-list ul li a {color: #0032a1;}
.button-dropdown.nav-toggle-bule .menu-list ul li a {color: #0032a1;}
.button-dropdown.nav-toggle-bule .menu-list ul li a:hover {color: #000;}
a.intranet-btn.bule {background: #0032a1;}
a.intranet-btn.bule:hover {background: #000;}
.nav-toggle-bul .menu-bdr p {color: #0032a1;}
.nav-toggle.bule.open .icon-bar {background-color: #0032a1;}
.button-dropdown.nav-toggle-bule p {color: #0032a1;}



.menu-txt { float:left;}
.w-menu-p {float: left; margin-bottom:0px; width: 100%; padding: 0 30px;}
.button-dropdown ul li.menu-grey { opacity:0.65;}
.button-dropdown ul li.menu-grey:hover { opacity:1;}
.button-dropdown ul li a:hover { background:rgba(206,14,45,0.47)}